{% section 'breadcrumb' %}
<div class="project-details">
    <div class="container">
        <div class="row contact-one__form justify-content-center">
            <div class="col-6">
              {% form 'recover_customer_password' %}
                <input type="email" value="" name="email" placeholder="{{ 'customer.recover_password.email' | t }}" id="RecoverEmail" required>
                <div class="action-auth d-flex justify-content-between">
                  <button type="submit" class="thm-btn main-btn"><span>{{ 'customer.recover_password.submit' | t }}</span></button>
                  <button class="thm-btn" onclick="window.location.href='{{ routes.account_login_url }}'"><span>Login</span></button>
                </div>
              {% endform %}
            </div>   
        </div>
    </div>
</div>