{% section 'breadcrumb' %}
<div class="project-details">
    <div class="container">
        <div class="row contact-one__form justify-content-center">
            <div class="col-6">
              {% form 'reset_customer_password' %}
                <input type="password" value="" name="customer[password]" id="ResetPassword" placeholder="{{ 'customer.reset_password.password' | t }}" class="{% if form.errors contains 'password' %} input--error{% endif %}">
                <input type="password" value="" class="form-control" name="customer[password_confirmation]" id="PasswordConfirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }} " class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

                <div class="action-auth d-flex justify-content-between">
                  <button type="submit" class="thm-btn main-btn"><span>{{ 'customer.reset_password.submit' | t }}</span></button>
                  <button class="thm-btn" onclick="window.location.href='{{ routes.account_login_url }}'"><span>Back Login</span></button>
                </div>
              {% endform %}
            </div>
        </div>
    </div>
</div>