.desktop-logo {
  max-width: 150px;
}

body {
  background-image: url(pattern.png);
  background-repeat: repeat;
  background-size: 800px;
  background-color: #f6f6f6;
  background-blend-mode: multiply;
}

.slider-style-2 .slide-item .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-style-2 .slide-item .slide-content .slide-title-2, .slider-style-2 .slide-item .slide-content .slide-title-1, .slider-style-2 .slide-item .slide-content .slide-title-3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1;
}

.slider-style-2 .slide-item .slide-content .slide-title-1 {
  margin-bottom: 35px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-style-2 .slide-item .slide-content .slide-title-1 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .slider-style-2 .slide-item .slide-content .slide-title-1 {
    margin-bottom: 10px;
  }
}

.slider-style-2 .slide-item .slide-content .slide-title-3 {
  margin-bottom: 20px;
}

.slider-style-2 .slide-item .slide-image img {
  width: auto;
  height: auto;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 767.82px) {
  .slide-content > * {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
  }
}

@media screen and (max-width: 767.82px) {
  .slick-current .slide-content > * {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .slide-image > * {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
  }
}

@media screen and (min-width: 768px) {
  .slide-image .__1 {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  .slide-image .__2 {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .slide-image .__3 {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .slide-image .__4 {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.slick-current .slide-image > * {
  opacity: 1;
  visibility: visible;
}

.slick-current .slide-image .__1 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.slick-current .slide-image .__2 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slick-current .slide-image .__3 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slick-current .slide-image .__4 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slick-current .slide-image img:nth-child(1) {
  -webkit-transition-delay: calc( 1s / 2);
          transition-delay: calc( 1s / 2);
  -webkit-transition-duration: calc( 1s / 2);
          transition-duration: calc( 1s / 2);
}

.slick-current .slide-image img:nth-child(2) {
  -webkit-transition-delay: calc( 2s / 2);
          transition-delay: calc( 2s / 2);
  -webkit-transition-duration: calc( 2s / 2);
          transition-duration: calc( 2s / 2);
}

.slick-current .slide-image img:nth-child(3) {
  -webkit-transition-delay: calc( 3s / 2);
          transition-delay: calc( 3s / 2);
  -webkit-transition-duration: calc( 3s / 2);
          transition-duration: calc( 3s / 2);
}

.slick-current .slide-image img:nth-child(4) {
  -webkit-transition-delay: calc( 4s / 2);
          transition-delay: calc( 4s / 2);
  -webkit-transition-duration: calc( 4s / 2);
          transition-duration: calc( 4s / 2);
}

.slick-current .slide-image img:nth-child(5) {
  -webkit-transition-delay: calc( 5s / 2);
          transition-delay: calc( 5s / 2);
  -webkit-transition-duration: calc( 5s / 2);
          transition-duration: calc( 5s / 2);
}

.slick-current .slide-image img:nth-child(6) {
  -webkit-transition-delay: calc( 6s / 2);
          transition-delay: calc( 6s / 2);
  -webkit-transition-duration: calc( 6s / 2);
          transition-duration: calc( 6s / 2);
}

.slick-current .slide-image img:nth-child(7) {
  -webkit-transition-delay: calc( 7s / 2);
          transition-delay: calc( 7s / 2);
  -webkit-transition-duration: calc( 7s / 2);
          transition-duration: calc( 7s / 2);
}

.slick-current .slide-image img:nth-child(8) {
  -webkit-transition-delay: calc( 8s / 2);
          transition-delay: calc( 8s / 2);
  -webkit-transition-duration: calc( 8s / 2);
          transition-duration: calc( 8s / 2);
}

.slick-current .slide-image img:nth-child(9) {
  -webkit-transition-delay: calc( 9s / 2);
          transition-delay: calc( 9s / 2);
  -webkit-transition-duration: calc( 9s / 2);
          transition-duration: calc( 9s / 2);
}

.slick-current .slide-image img:nth-child(10) {
  -webkit-transition-delay: calc( 10s / 2);
          transition-delay: calc( 10s / 2);
  -webkit-transition-duration: calc( 10s / 2);
          transition-duration: calc( 10s / 2);
}

.section-title .title-text .title {
  font-weight: 600;
}

@media screen and (max-width: 767.82px) {
  .our-exclusive-services-area .thumb-img {
    margin-bottom: 30px;
  }
}

.our-exclusive-services-area .section-title {
  margin-left: -120px;
  padding-right: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 991.82px) {
  .our-exclusive-services-area .section-title {
    margin-left: -20px;
  }
}

@media screen and (max-width: 767.82px) {
  .our-exclusive-services-area .section-title {
    margin-left: 0;
    padding-right: 0;
  }
}

.our-exclusive-services-area .custom-content-inner {
  padding-left: 50px;
}

@media screen and (max-width: 991.82px) {
  .our-exclusive-services-area .custom-content-inner {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767.82px) {
  .our-exclusive-services-area .custom-content-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.feature-section .section-title {
  margin-bottom: 25px;
}

.box-feature {
  text-align: center;
  margin-top: 40px;
  padding: 0 40px;
}

@media screen and (max-width: 991.82px) {
  .box-feature {
    padding: 0 10px;
  }
}

.box-feature .icon {
  position: relative;
  padding-bottom: 35%;
  margin-bottom: 35px;
}

.box-feature .icon img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.box-feature .content h4 {
  margin-bottom: 20px;
}

.box-feature .content p {
  font-size: 16px;
}

.box-feature .content br {
  display: block;
  margin: 10px 0;
  content: '';
}

.count-section {
  position: relative;
  background-color: #474747;
  background-blend-mode: multiply;
  padding: 100px 0 140px;
  background-size: cover;
}

@media screen and (max-width: 767.82px) {
  .count-section {
    padding: 60px 0 60px;
  }
}

.count-section .container {
  position: relative;
  z-index: 1;
}

.img-bottom {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 0 30px;
  margin: auto;
  margin-top: -225px;
}

@media screen and (max-width: 991.82px) {
  .img-bottom {
    margin-top: -150px;
  }
}

@media screen and (max-width: 767.82px) {
  .img-bottom {
    margin-top: -80px;
  }
}

.img-bottom img {
  -webkit-filter: drop-shadow(-8px 8px 8px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(-8px 8px 8px rgba(0, 0, 0, 0.4));
}

.counter-section {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.counter-section li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px 0 15px 0;
}

@media screen and (max-width: 767.82px) {
  .counter-section li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-bottom: 15px;
  }
}

.counter-section li:nth-child(2) {
  border-left-color: #fff;
}

.counter-section li:nth-child(3) {
  border-left-color: #fff;
}

@media screen and (max-width: 767.82px) {
  .counter-section li:nth-child(3) {
    border-left-color: transparent;
  }
}

.counter-section li:nth-child(4) {
  border-left-color: #fff;
}

.counter-section .number-item h2 {
  color: #fff;
  font-size: 45px;
}

.counter-section .number-item h6 {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.product-detail-section .box-img {
  position: relative;
  padding-bottom: 90%;
}

.product-detail-section .box-img img {
  z-index: 1;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.4));
}

.product-detail-section .slider-for-pro {
  padding-bottom: 50px;
}

.product-detail-section .slider-for-pro .box-img img {
  padding: 5%;
  padding-bottom: 0px;
}

.product-detail-section .slider-for-pro .box-img .decs {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 20px;
  left: -100px;
  font-size: 250px;
  opacity: 0.2;
  z-index: 0;
  font-family: var(--google-font-2);
}

.product-detail-section .slider-nav-pro {
  margin-bottom: 25px;
}

.product-detail-section .slider-nav-pro .slick-slide {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.product-detail-section .slider-nav-pro .slick-slide.slick-current, .product-detail-section .slider-nav-pro .slick-slide:hover {
  opacity: 1;
}

.btn-full-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.btn-full-pro .product-meta-type, .btn-full-pro .btn-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px;
}

.btn-full-pro .btn-wrapper .boxed-btn {
  height: 45px;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  background-color: transparent;
  color: var(--secondary-color-three);
  border: 1px solid var(--secondary-color-three);
}

.btn-full-pro .btn-wrapper .boxed-btn:hover {
  background-color: var(--main-color-one);
  color: var(--secondary-color-three);
  border: 1px solid var(--main-color-one);
}

.buy-now-btn .boxed-btn {
  padding: 0;
  width: 100%;
  text-align: center;
  height: 45px;
}

.product-detail-section {
  padding: 80px 0 00px;
}

.product-detail-section.__1 {
  padding-top: 0;
  margin-top: 30px;
}

.product-detail-section.__1 .box-img {
  padding-bottom: 80%;
}

.product-detail-section .option-select ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail-section .option-select ul li {
  padding: 0 15px;
}

@media screen and (max-width: 991.82px) {
  .product-detail-section .option-select ul li {
    padding: 0 10px;
  }
}

.product-detail-section .option-select ul li + li {
  border-left: 1px solid #646464;
}

.product-detail-section .option-select ul li input {
  display: none;
}

.product-detail-section .option-select ul li input:checked + label {
  color: var(--heading-color);
  -webkit-text-stroke: 1px var(--heading-color);
}

.product-detail-section .option-select ul li label {
  margin-bottom: 0;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.product-detail-section .content-detail {
  border-bottom: 1px solid #646464;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 991.82px) {
  .product-detail-section .content-detail {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767.82px) {
  .product-detail-section .content-detail {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.product-detail-section .content-detail .desc p {
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-detail-section .content-detail .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: var(--heading-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 991.82px) {
  .product-detail-section .content-detail .price {
    font-size: 24px;
  }
}

.product-detail-section .content-detail .price .old-price {
  font-size: 26px;
  opacity: 0.4;
  margin-right: 15px;
}

@media screen and (max-width: 991.82px) {
  .product-detail-section .content-detail .price .old-price {
    font-size: 20px;
  }
}

.product-detail-section .content-detail h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991.82px) {
  .product-detail-section .content-detail h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767.82px) {
  .product-detail-section .content-detail h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 575.82px) {
  .product-detail-section .content-detail h2 {
    font-size: 24px;
  }
}

.product-detail-section h4 {
  font-family: var(--body-font);
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (max-width: 991.82px) {
  .product-detail-section h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.product-meta-type {
  margin-bottom: 20px;
}

.product-meta-type .cart-plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 30px 0 30px;
  border: 1px solid var(--secondary-color-three);
}

@media screen and (max-width: 767px) {
  .product-meta-type .cart-plus-minus {
    border-radius: 0 15px 0 15px;
  }
}

.product-meta-type .cart-plus-minus input {
  margin-bottom: 0;
  padding-left: 0;
  width: 80px;
  text-align: center;
  height: 45px;
  border: unset;
}

.product-meta-type .cart-plus-minus .qtybutton {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  height: 45px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-meta-type .cart-plus-minus .qtybutton:hover {
  background-color: var(--secondary-color-three);
  color: #fff;
}

.footer-area {
  background-color: var(--heading-color);
  color: #fff;
}

.footer-area .about_us_widget .footer-logo {
  max-width: 180px;
}

.footer-area h4, .footer-area address {
  color: #fff;
}

.footer-area address i {
  width: 30px;
  margin-right: 5px;
  text-align: center;
}

.footer-area address ul {
  list-style: none;
  padding-left: 0;
}

.footer-area address ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-area address ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-area .widget ul li a {
  color: #fff;
}

.footer-area .widget.footer-widget .social_share ul li a,
.footer-area .widget.footer-widget p {
  color: #fff;
}

.footer-area .footer-top, .footer-area .copyright-area {
  background-color: var(--heading-color);
}

.form-input-box button[type="submit"] {
  border: 1px solid var(--main-color-one);
}

.form-input-box button[type="submit"]:hover {
  border-color: var(--main-color-one);
}

@media screen and (max-width: 1199.82px) {
  .newsletter-widget {
    padding-left: 0;
  }
}

.back-to-top {
  color: var(--heading-color);
}

.back-to-top:hover {
  color: var(--heading-color);
}

.floating-icon {
  background-color: var(--heading-color);
}

.body-overlay {
  background-color: var(--heading-color);
  z-index: 10000;
}

.mini-cart-wrapper {
  background-color: #fff;
}

.section-title-2 .icon img {
  background-color: var(--heading-color);
}

.cart-item .product-image {
  position: relative;
  width: 100px;
  height: 100px;
}

.cart-item .product-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.search-popup .search-form {
  z-index: 10000;
}

.box-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-video .vid-container {
  position: relative;
  height: 530px;
  border-radius: 0 50px 0 50px;
  overflow: hidden;
  margin: 0;
  margin-right: -4px;
}

@media screen and (max-width: 991.82px) {
  .box-video .vid-container {
    padding-bottom: 60%;
    height: auto;
  }
}

@media screen and (max-width: 767.82px) {
  .box-video .vid-container {
    border-radius: 0 30px 0 30px;
  }
}

.box-video .vid-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-video .slider-video {
  padding: 30px 0;
  position: relative;
}

.box-video .slider-video .slick-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
  color: var(--heading-color);
}

.box-video .slider-video .slick-prev {
  top: 0;
}

.box-video .slider-video .slick-next {
  bottom: -2px;
}

.vid-list-container .item {
  padding: 10px 20px;
  margin-bottom: 0px;
}

.vid-list-container .item.active {
  background-color: var(--heading-color);
}

.vid-list-container .item.active a {
  color: #fff;
}

.vid-list-container .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--heading-color);
}

.vid-list-container .item .thumb-video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.vid-list-container .item .vid-thumb {
  padding-bottom: 60%;
  position: relative;
  display: block;
}

.vid-list-container .item .vid-thumb img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vid-list-container .item .desc {
  padding: 0 10px;
  font-weight: 500;
  max-width: 300px;
}

.video-section .section-title {
  margin-bottom: 60px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.product-item .thumb-pro {
  position: relative;
  padding-bottom: 100%;
}

.product-item .thumb-pro::after {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  left: 0;
  background-color: #C8CAC7;
  content: '';
  border-radius: 0 30px 0 30px;
  z-index: 0;
}

@media screen and (max-width: 767.82px) {
  .product-item .thumb-pro::after {
    border-radius: 0 20px 0 20px;
  }
}

.product-item .thumb-pro img {
  left: 0;
  padding: 10px 10px 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.product-item .product-image {
  width: 100%;
}

.product-item .product-image::before {
  background-color: var(--heading-color);
  border-radius: 0 30px 0 30px;
  z-index: 3;
}

@media screen and (max-width: 767.82px) {
  .product-item .product-image::before {
    border-radius: 0 20px 0 20px;
  }
}

.product-item .product-image .product-badge {
  z-index: 2;
}

.product-item .product-image .product-badge ul li {
  color: var(--heading-color);
}

.product-item .product-image .product-badge ul li.sold-out-badge {
  background-color: var(--heading-color);
  color: #fff;
}

.product-item .product-item-brief .product-price {
  color: var(--heading-color);
  font-size: 24px;
}

.product-item .product-item-brief .product-price del {
  font-size: 20px;
}

.product-action li a {
  color: var(--heading-color);
}

.product-action .details-link a {
  color: #fff;
}

.product-action .details-link a:hover {
  color: var(--heading-color);
}

.testimonial-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-nav-item .thumb-img {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.testimonial-nav-item .thumb-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.testimonial-nav-item .desc h5 {
  margin-bottom: 0;
}

.slider-for-testimonial .testimonial-brief {
  background-color: transparent;
  padding: 50px 50px 50px;
  line-height: 2;
  margin: 0;
}

@media screen and (max-width: 767.82px) {
  .slider-for-testimonial .testimonial-brief {
    padding: 30px;
  }
}

.slider-for-testimonial .testimonial-brief p {
  line-height: 2.2;
}

.slider-nav-testimonial .slick-slide {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slider-nav-testimonial .slick-slide:hover {
  opacity: 1;
}

.slider-nav-testimonial .slick-current {
  opacity: 1;
}

.navbar-area.nav-fixed {
  background-color: var(--secondary-color-five);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.current-menu-item a, .navbar-area .nav-container .navbar-collapse .navbar-nav li:hover a {
  color: var(--main-color-one);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.current-menu-item a:before, .navbar-area .nav-container .navbar-collapse .navbar-nav li:hover a:before {
  background-color: var(--main-color-one);
}

.preloader-inner {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-wrapper .boxed-btn {
  font-weight: 800;
}

.popup-item .popup-item-inner {
  z-index: 99999;
}

.popup-close-btn {
  color: var(--heading-color);
}

.popup-item-inner input[type="text"], .popup-item-inner input[type="email"], .popup-item-inner input[type="password"], .popup-item-inner input[type="submit"], .popup-item-inner textarea {
  border-color: var(--heading-color);
}

.social_share li a {
  color: var(--heading-color);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav {
  text-align: left;
  padding-left: 50px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
  background-color: var(--heading-color);
  color: #ddd;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a {
  color: #ddd;
}

.noti-section .thumb-img {
  position: relative;
  padding-bottom: 50%;
  border-radius: 0 30px 0 30px;
  overflow: hidden;
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .noti-section .thumb-img.__1 {
    border-radius: 0 50px 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .noti-section .thumb-img.__2 {
    border-radius: 50px 0px 50px 0px;
  }
}

.noti-section .thumb-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.noti-section .box-noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .noti-section .box-noti {
    margin-bottom: 0;
  }
}

.noti-section .box-noti .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.noti-section .box-noti .content p br {
  display: block;
  padding: 5px 0;
  content: '';
}

.noti-section .box-noti .content .btn-wrapper {
  margin-top: 15px;
}

@media screen and (max-width: 991.82px) {
  .navbar-area .nav-container .navbar-collapse .navbar-nav {
    padding-left: 0;
  }
}

@media screen and (max-width: 991.82px) {
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children {
    padding: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 991.82px) {
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children a {
    margin: 10px 0;
  }
}

@media screen and (max-width: 991.82px) {
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children i {
    z-index: 3;
    height: 50px;
    top: -10px;
    -webkit-transform: unset;
            transform: unset;
    right: 0;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f2f2f2;
    color: var(--heading-color) !important;
  }
}

.subpage-menu {
  background-color: var(--heading-color);
}

.short-by .nice-select {
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid var(--heading-color);
}

.nice-select .option:hover {
  color: var(--heading-color);
}

.nice-select .option.selected.focus,
.nice-select .option.focus {
  color: var(--heading-color);
}

.nice-select .list:hover .option:not(:hover).focus,
.nice-select .list:hover .option:not(:hover).selected.focus {
  color: var(--main-color-one);
}

.breadcrumb-area.breadcrumb-style-1 .breadcrumb-inner {
  background-color: rgba(40, 39, 40, 0.8);
}

.breadcrumb-area::before {
  display: none;
}

.product-search .form-input-box input[type="text"], .shopping-cart-coupon .form-input-box input[type="text"] {
  border-color: var(--heading-color);
}

.product-search .form-input-box button[type="submit"], .shopping-cart-coupon .form-input-box button[type="submit"] {
  background-color: var(--heading-color);
  border-color: var(--heading-color);
}

.product-search .form-input-box button[type="submit"]:hover, .shopping-cart-coupon .form-input-box button[type="submit"]:hover {
  background-color: var(--main-color-one);
  color: var(--heading-color);
  border-color: var(--main-color-one);
}

@media screen and (max-width: 991.82px) {
  .product-details-image-gallery {
    padding-right: 0;
  }
}

.product-details-small-img-slider .single-item {
  position: relative;
  padding-bottom: 126%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
}

.product-details-small-img-slider .single-item::after {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  border: 2px solid var(--main-color-one);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.product-details-small-img-slider .single-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-details-small-img-slider .slick-current .single-item {
  opacity: 1;
}

.product-details-small-img-slider .slick-current .single-item::after {
  opacity: 1;
}

.product-details-large-img-slider .single-item {
  position: relative;
  padding-bottom: 120%;
  overflow: hidden;
}

.product-details-large-img-slider .single-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-item a:hover {
  color: var(--main-color-one);
}

.my-account-tab-menu a {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--heading-color);
  color: #fff;
}

.my-account-tab-menu a::before {
  background-color: var(--heading-color);
}

.my-account-tab-menu a.active, .my-account-tab-menu a:hover {
  background-color: var(--main-color-one);
  color: var(--heading-color);
}

.my-account-tab-menu a:not(.active):hover::before {
  opacity: 0;
}

.my-account-tab-info {
  border: 1px solid var(--heading-color);
}

.table-content .cart-product-title {
  text-align: left;
}

.cart-product-thumbnail a {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 767.82px) {
  .cart-product-thumbnail a {
    height: 100px;
    padding-bottom: unset;
  }
}

.cart-product-thumbnail a img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767.82px) {
  .cart-product-thumbnail a img {
    -o-object-position: right;
       object-position: right;
  }
}

@media screen and (max-width: 767.82px) {
  .shoping-cart-inner-table .table-content .cart-product-title, .shoping-cart-inner-table .table-content .cart-product-thumbnail, .shoping-cart-inner-table .table-content .cart-product-quantity {
    max-width: unset;
    min-width: unset;
  }
}

.shoping-cart-inner-table .table-content table tr {
  border-bottom: 1px solid var(--heading-color);
}

@media screen and (max-width: 767.82px) {
  .shoping-cart-inner-table .table-content table tr {
    border-bottom: 1px solid var(--main-color-one);
  }
  .shoping-cart-inner-table .table-content table tr td, .shoping-cart-inner-table .table-content table tr th {
    padding: 15px 0;
    padding-left: 40%;
    border-bottom: 1px solid #c9c9c9;
    display: block;
    text-align: right;
    position: relative;
  }
  .shoping-cart-inner-table .table-content table tr td:before, .shoping-cart-inner-table .table-content table tr th:before {
    content: attr(data-label);
    left: 0;
    width: 40%;
    text-align: left;
    position: absolute;
    font-size: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: bold;
  }
  .shoping-cart-inner-table .table-content table tr .cart-product-multifly {
    display: none;
  }
}

.cart-product-thumbnail {
  min-width: 100px;
  max-width: 100px;
}

.cart-product-quantity {
  min-width: 150px;
  max-width: 150px;
}

.cart-product-quantity .product-meta-type {
  margin-bottom: 0;
}

.shoppint-cart-total {
  border: unset;
}

.datepicker td, .datepicker th {
  color: var(--heading-color);
}

.datepicker table tr td.new, .datepicker table tr td.old {
  color: #8b8b8b;
}

.datepicker table tr td.day.focused, .datepicker table tr td.day:hover {
  color: #fff;
}

.datepicker table tr td.active.day {
  background: var(--heading-color);
}

.contact-form-box textarea {
  border-color: var(--heading-color);
}

.google-map-area {
  background-color: var(--heading-color);
}

#map {
  -webkit-transform: unset;
          transform: unset;
}

.breadcrumb-area.breadcrumb-style-3 .breadcrumb-inner {
  border-radius: 0 30px 0 30px;
}

.breadcrumb-area.breadcrumb-style-3 .breadcrumb-inner::before {
  border-radius: 0 30px 0 0;
}

.breadcrumb-area.breadcrumb-style-3 .breadcrumb-inner::after {
  border-radius: 0 0 0 30px;
}

.breadcrumb-area.breadcrumb-style-3 .breadcrumb-inner .breadcrumb-shape {
  border-radius: 0 30px 0 30px;
  overflow: hidden;
}

.why-shop-from-us-img {
  position: relative;
  padding-bottom: 90%;
  overflow: hidden;
}

.why-shop-from-us-img img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-shop-from-us-inner .card-body iframe {
  width: 100%;
}

.popular-post-img a {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
  display: block;
}

.popular-post-img a img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bloom-pagination ul li a {
  font-weight: 600;
}

.bloom-pagination ul li:hover a, .bloom-pagination ul li.active a {
  color: var(--heading-color);
}

.post-meta li {
  color: var(--paragraph-color);
}

.checkbox-item .checkmark {
  border-color: var(--heading-color);
}

.checkbox-item .checkmark::after {
  border-color: var(--heading-color);
}

.search-popup .search-form .submit-btn {
  color: var(--heading-color);
}

.search-popup .search-form .submit-btn:hover {
  color: var(--main-color-one);
}
/*# sourceMappingURL=custom.css.map */