 
{% section 'banner-home' %}
<div class="main-content">
  {% section 'features-home' %}
  <div class="icon-drag-ani">
    <img src="{{ 'a-3.svg' | asset_url }}" alt="">
  </div>
	{% section 'about-home' %}
  <div class="icon-drag-ani" style="padding-top: 30px;margin-bottom: 0;">
    <img src="{{ 'a-3.svg' | asset_url }}" alt="">
  </div>
  {% section 'video-home' %}
  {% section 'product-home' %}
  {% section 'content-home' %}
  {% section 'bg-home' %}
 