<main>
  {% section 'home-section-1' %}
  <div class="box-25">
  	{% section 'home-section-2' %}
    {% section 'home-section-3' %}
   	{% section 'home-section-4' %}
	{% section 'home-section-5' %}
	
   	{% section 'home-section-7' %}
    {% section 'home-section-8' %}
  </div>
</main>