{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<main>
	{% section 'product-template' %}
  	{% section 'related-product' %}
</main>
