{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.media != empty %}
  {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}
<div class="col-lg-6 col-md-6 col-sm-12 shop-block">
  <div class="shop-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
    <div class="sec-title centred wow fadeInUp" data-wow-duration="3s">
      <h2>{{ collection.title }}</h2>
    </div>
    <div class="inner-box">
      <figure class="image-box"><a href="{{ collection.url }}"><img src="{{ collection_image | img_url: '1000x' }}" alt="{{ collection_image.alt | default: collection.title }}"></a></figure>
    </div>
  </div>
</div>
