{% include 'breadcrumb' %}
<section class="pt-10 pb-10">
  <div class="container">
    <h2 class="fs-sm-40 mb-11 text-center">{{ page.title }}</h2>
    <div class="row overflow-hidden">
      <div class="col-md-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>