body {
  background-image: url(bg-111111.png);
  background-repeat: repeat;
}

.main-footer {
  background-image: url(bg-111111.png);
  background-repeat: repeat;
  background-blend-mode: overlay;
}

.main-footer .ftail {
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-bys {
  background: url(bg-d.png);
  background-size: cover;
  position: relative;
  background-position: top right;
  background-blend-mode: hard-light;
  background-color: #fff;
}

.icon-drag-ani {
  position: relative;
  margin-bottom: 0px;
  margin-top: -80px;
}

.slider .item-img .thumb-banner .shape-circle {
  -webkit-animation: rotate-circle 3s infinite linear;
          animation: rotate-circle 3s infinite linear;
}

@-webkit-keyframes rotate-circle {
  0% {
    -webkit-box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
            box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
  }
  50% {
    -webkit-box-shadow: 0 0 30px 20px #4ed1b3, 0 0 30px 20px #4ed1b3 inset;
            box-shadow: 0 0 30px 20px #4ed1b3, 0 0 30px 20px #4ed1b3 inset;
  }
  100% {
    -webkit-box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
            box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
  }
}

@keyframes rotate-circle {
  0% {
    -webkit-box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
            box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
  }
  50% {
    -webkit-box-shadow: 0 0 30px 20px #4ed1b3, 0 0 30px 20px #4ed1b3 inset;
            box-shadow: 0 0 30px 20px #4ed1b3, 0 0 30px 20px #4ed1b3 inset;
  }
  100% {
    -webkit-box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
            box-shadow: 0 0 0px 1px #4ed1b3, 0 0 0px 1px #4ed1b3 inset;
  }
}

.bg-section {
  background: transparent;
}

@media screen and (max-width: 991.82px) {
  .bg-section {
    padding-top: 0;
  }
}

.bg-section p {
  color: #f2f2f2;
}

.bg-section::before {
  background-color: transparent;
  background: url(bg-d.png);
  background-size: cover;
}

.bg-section .cont {
  position: relative;
}

@media screen and (min-width: 992px) {
  .bg-section .cont {
    padding: 30px 60px;
    padding-right: 0;
  }
}

@media screen and (max-width: 991.82px) {
  .bg-section .cont {
    padding: 60px 0px;
  }
  .bg-section .cont * {
    z-index: 1;
    position: relative;
  }
  .bg-section .cont::before {
    position: absolute;
    z-index: 0;
    content: '';
    width: 1000px;
    height: 100%;
    background: url(bg-d.png);
    background-size: cover;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 575.82px) {
  .bg-section .cont {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .bg-section.__2 .cont {
    padding: 30px 60px;
    padding-left: 0;
  }
}

.feat-prod {
  background-size: cover;
  background-color: transparent;
}

.feat-prod .item {
  border-color: #4ed1b3;
}

.feat-prod .item .img {
  position: relative;
}

.feat-prod .item .cont {
  background: #f2f2f2;
}

.feat-prod .item:hover {
  -webkit-box-shadow: 2px 2px 10px rgba(78, 209, 179, 0.6);
          box-shadow: 2px 2px 10px rgba(78, 209, 179, 0.6);
}

.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallax-container .fx-wrap {
  position: absolute;
}

.parallax-container .fx-wrap h3 {
  opacity: 0.05;
  font-size: 160px;
  font-weight: 900;
  font-family: var(--font-family-Hurme-B);
  color: #000;
}

@media screen and (max-width: 991.82px) {
  .parallax-container .fx-wrap h3 {
    font-size: 120px;
  }
}

@media screen and (max-width: 767.82px) {
  .parallax-container .fx-wrap h3 {
    font-size: 60px;
  }
}

.intro-cls {
  position: relative;
}

.intro-cls .fx-wrap {
  top: 0;
  left: -10%;
}

.feat-prod {
  position: relative;
}

.feat-prod .fx-wrap {
  top: 0;
  right: -10%;
}

.cont.__ani {
  position: relative;
}

.cont.__ani .svg-ani {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 60%;
  z-index: -1;
  opacity: 0.05;
}

.cont.__ani .svg-ani img {
  -webkit-animation-direction: center;
          animation-direction: center;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.intro-cls .imgsth .img1 img, .intro-cls .imgsth .img2 img, .intro-cls .imgsth .img3 img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.intro-cls .imgsth .img1:hover img, .intro-cls .imgsth .img2:hover img, .intro-cls .imgsth .img3:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-footer .item ul li .tit.__address {
  font-family: var(--font-family-Hurme-B);
  font-size: 16px;
}

b, strong {
  font-family: var(--font-family-Hurme-R);
}

.pattern-img {
  position: absolute;
  right: -15%;
  top: 5%;
  opacity: 0.07;
  z-index: -1;
  width: 100%;
}

.name {
  position: relative;
  color: #4ed1b3;
  font-size: 24px;
  margin-top: 20px;
  font-family: var(--font-family-Hurme-R);
  padding-top: 20px;
}

@media screen and (max-width: 767.82px) {
  .name {
    font-size: 20px;
  }
}

.name::before {
  width: 100px;
  background-color: #4ed1b3;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

@-webkit-keyframes width100 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes width100 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

.founder-img {
  overflow: unset;
  margin-right: 30px;
  padding-bottom: 130%;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 767.82px) {
  .founder-img {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
}

.founder-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.founder-img::before, .founder-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 2px solid #4ed1b3;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.founder-img::before {
  background-color: #4ed1b3;
  top: -15px;
  left: -15px;
}

.founder-img::after {
  bottom: -15px;
  right: -15px;
}

.founder-img:hover::before {
  top: 15px;
  left: 15px;
}

.founder-img:hover::after {
  bottom: 15px;
  right: 15px;
}

.main-shop .products-shop .item .cont h6 {
  font-family: var(--font-family-Hurme-B);
  font-size: 20px;
}

.contact-us .opening .con-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #e7e7e7;
  margin-bottom: 10px;
}

.contact-us .opening .con-info ul li .icon {
  color: #4ed1b3;
  margin-right: 10px;
  margin-top: 10px;
}

.contact-us .opening .con-info ul li p {
  color: #e7e7e7;
}

.contact-us .opening .con-info ul li p strong, .contact-us .opening .con-info ul li p b {
  color: #4ed1b3;
}

.contact-us .map-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact-us .map-info .map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 500px;
}

.contact-us .map-info .map-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=custom.css.map */