{% section 'breadcrumb' %}
<div class="sign-up-area sign-in-area margin-bottom-120 mobile-mb-50 tab-mb-100">
  <div class="container">
    <div class="row custom-gutter justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7 col-12">
        <div class="sign-up-inner">
            {% form 'reset_customer_password', class: 'contact-form-box' %}
              {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
              {%- endif -%}
              <label>{{ 'customer.reset_password.password' | t }}*</label>
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
              <label>{{ 'customer.reset_password.password_confirm' | t }}*</label>
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"> 
              <div class="btn-wrapper">
                <div class="col-12">
                  <div class="row justify-content-between align-items-center">
                    <button class="boxed-btn btn-rounded" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
                  </div>
                </div>
              </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>