.ltn__header-transparent {
  position: absolute;
  background-color: rgba(225, 225, 225, 0.3);
}

.ltn__slide-item-2 {
  height: 70vh;
  padding-top: 200px;
}

.ltn__breadcrumb-area {
  padding-top: 250px;
  padding-bottom: 50px;
  position: relative;
}

.ltn__breadcrumb-area::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background: rgba(242, 246, 247, 0.4);
}

.ltn__header-options-2 .header-search-1, .ltn__header-options-2 .ltn__drop-menu > ul > li > a, .ltn__header-options-2 .mini-cart-icon a {
  background: unset;
  border: 1px solid var(--border-color-1);
}

.footer-logo .site-logo {
  min-width: 150px;
  max-width: 250px;
}

.footer-top-area {
  border-top: 2px solid #fff;
}

.loading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 22147483647;
}

.loading-container svg {
  padding: 35px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow: unset;
}

.loading-container svg .icon-logo_1 .sv-1 {
  stroke-width: 2px;
  stroke: #00AD50;
}

.about-img-left svg {
  overflow: unset;
}

.product-brand {
  font-size: 14px;
  color: rgba(7, 28, 31, 0.6);
  margin-bottom: 5px;
}

@media screen and (max-width: 575.82px) {
  .product-brand {
    font-size: 13px;
  }
}

.product-brand a:hover {
  color: #00AD50;
}

.product-img {
  position: relative;
  padding-bottom: 100%;
}

.product-img img {
  padding: 20%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-img::before {
  display: none;
}

.product-img > a::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.02);
}

.ltn__product-item-2 .product-img img {
  background: transparent;
}

.brand-icon {
  margin-bottom: 65px;
}

.brand-icon .img-thumb-b {
  display: block;
  position: relative;
  padding-bottom: 60%;
  margin-bottom: 15px;
}

.brand-icon .img-thumb-b img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.brand-icon .img-thumb-b::before, .brand-icon .img-thumb-b::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 9;
}

.brand-icon .img-thumb-b:hover::before {
  background: rgba(255, 255, 255, 0.3);
  visibility: visible;
  width: 0;
  right: 50%;
  left: 50%;
}

.brand-icon .img-thumb-b:hover::after {
  height: 0;
  top: 50%;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.3);
  visibility: visible;
}

.small-bar {
  padding: 20px 0 0;
  background: linear-gradient(33deg, #00ad50, #73bd47, #bdcf53);
}

.small-bar .ltn__feature-item-7 {
  background-color: transparent;
  padding: 10px 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #f2f2f2;
}

.small-bar .ltn__feature-item-7 .ltn__feature-icon-title {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small-bar .ltn__feature-item-7 .ltn__feature-icon-title h4 {
  margin-bottom: 0;
  color: #fff;
}

.small-bar .ltn__feature-item-7 .ltn__feature-icon {
  width: 45px;
  height: 45px;
  font-size: 40px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .ltn__logo-right-menu-option .site-logo-wrap {
    margin-top: 0;
  }
}

.site-logo-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (max-width: 991.82px) {
  .site-logo-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .site-logo-wrap {
    margin: 0;
  }
}

.modal-product-img {
  position: relative;
  padding-bottom: 100%;
}

.modal-product-img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.02);
}

.modal-product-img img {
  position: absolute;
  width: 100%;
  padding: 20%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 991.82px) {
  .ltn__top-bar-menu > ul > li {
    font-size: 13px;
  }
}

@media screen and (max-width: 991.82px) {
  .ltn__header-5 .ltn__header-options {
    margin-left: 0;
  }
}

@media screen and (max-width: 991.82px) {
  .ltn__utilize-menu > ul > li {
    margin-top: 0;
  }
}

@media screen and (max-width: 991.82px) {
  .ltn__utilize-buttons {
    margin: 20px 0;
  }
}

@media screen and (max-width: 575.82px) {
  .btn {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 575.82px) {
  .ltn__utilize {
    padding: 20px 10px 20px 20px;
  }
}

@media screen and (max-width: 575.82px) {
  .ltn__utilize-menu-inner {
    padding-right: 10px;
  }
}

.preloader {
  z-index: 999999;
}

.modal-product-info h3 {
  margin-bottom: 20px;
}

.modal-product-info .product-price {
  color: var(--ltn__heading-color);
  margin-bottom: 20px;
}

.thumb-pro {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  padding-bottom: 60%;
}

.thumb-pro img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
}

.ltn__product-details-menu-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ltn__product-details-menu-2 ul li input[type="text"] {
  height: 61px;
  margin-bottom: unset;
  width: 80px;
  padding: 0 15px;
}

.shoping-cart-table .table > :not(caption) > * > * {
  border: unset;
}

.shoping-cart-table .table tbody {
  border: unset;
}

.shoping-cart-table .table tr {
  display: table-row;
}

.shoping-cart-table .table td {
  padding: 20px;
}

.shoping-cart-table .table td.cart-product-remove {
  padding: 15px 5px;
}

.shoping-cart-table .table td.cart-product-info h4 {
  margin-bottom: unset;
}

.shoping-cart-table .table td.cart-product-info span {
  font-size: 14px;
}

.shoping-cart-total {
  max-width: unset;
}

.shoping-cart-total .btn-wrapper input {
  margin-bottom: 15px;
}

.cart-plus-minus {
  width: 100px;
  height: 50px;
  line-height: 45px;
}

.box-group-btn {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
/*# sourceMappingURL=custom.css.map */