{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<div id="app" data-router-wrapper>
  <div class="a-page" data-router-view="renderer">
			{% section 'my-cart' %}
    		{% section 'footer' %}
  </div>
</div>


<div data-rebuy-id="24701"></div>