{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<div id="app" data-router-wrapper>
    <div class="a-page" data-router-view="renderer">
		{% section 'collection-template' %}
      	{% section 'footer' %}
   </div>
</div>

