
<div id="app" data-router-wrapper>
        <div class="a-page" data-router-view="renderer">
           {% section 'section-home-1' %}
           {% section 'section-home-2' %}		          
            {% section 'section-home-video' %}		          
            {% section 'section-home-3' %} 
           	{% section 'section-home-4' %}  
          	{% section 'section-home-5' %} 
          	{% section 'section-home-6' %}
           {% section 'footer' %}
        </div>
    </div>
 <div class="powr-popup" id="1d19fe07_1615876772"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>