<div id="app" data-router-wrapper>
    <div class="a-page" data-router-view="renderer">

        {% section 'section-lookbook-1' %}
       	{% section 'section-lookbook-2' %}
        {% section 'section-lookbook-3' %}
        {% section 'section-lookbook-4' %}
        {% section 'section-lookbook-5' %}
          {% section 'footer' %}
    </div>
</div>
