<div id="app" data-router-wrapper>
    <div class="a-page" data-router-view="renderer">
   		{% section 'section-about-1' %}
      	{% section 'section-about-2' %}
      	{% section 'footer' %}
	</div>
</div>
