<div class="coming-soon-area coming-soon-bg" style="background-image: url({{ '12.jpeg' | asset_url }});">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="coming-soon-inner">
          <h1 class="coming-soon-title">{{ 'general.404.title' | t }}</h1>

          <div class="coming-soon-brief">
            <p>{{ 'general.404.subtext' | t }}</p>
          </div>
          <div class="btn-wrapper margin-top-30">
            <a class="boxed-btn btn-rounded" href="{{ routes.root_url }}">Back to home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>