<!-- Slider area start -->
{% section 'slide-home' %}
<!-- Slider area end -->
<!-- Our exclusive service area start -->
{% section 'services-home' %}
<!-- Our exclusive service area end -->
<!-- Product area start -->
{% section 'feature-home' %}
<!-- Product area end -->
{% section 'count-home' %}
{% section 'product-home' %}
{% section 'video-home' %}
<!-- Product area start -->
{% section 'feature-products-home' %}    
<!-- Product area end -->
<!-- Testimonial area start -->
{% section 'testimonial-home' %}

<!-- Shopper Approved - templates/index -->
<div class="bloom-testimonial-area testimonial-style-one margin-bottom-108 mobile-mb-40 tab-mb-70" data-section-id="{{ section.id }}">
    <div class="container">
      <div class="row custom-gutter">
        <div class="col-12">
          <div class="section-title-area text-center">
            <div class="section-title section-title-2 wow fadeIn">
              <div class="title-text">
                <h2 class="title">Client Testimonials</h2>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div style="width: 97%;">
          		<div style="min-height: 100px;" class="shopperapproved_widget sa_rotate sa_count4 sa_horizontal sa_bgWhite sa_colorBlack sa_borderGray sa_rounded sa_jMy sa_fixed sa_showlinks sa_large sa_showdate "></div>
            </div>
            <script type="text/javascript">var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('https://www.shopperapproved.com/widgets/testimonial/3.0/33360.js'); shopper_first = true; </script><div style="text-align:right;"><a aria-label="Brassgoat.com certificate URL" title="Reviews" class="sa_footer" href="https://www.shopperapproved.com/reviews/Brassgoat.com/" target="_blank" rel="nofollow"><img class="sa_widget_footer" style="border: 0;" alt="Brassgoat.com widget logo" src=https://www.shopperapproved.com/widgets/widgetfooter-darklogo.png></a></div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- END Shopper Approved - templates/index -->

<!-- Testimonial area end -->
{% section 'noti-home' %} 
    