{% section 'breadcrumb' %}
<div class="my-account-area margin-bottom-115 mobile-mb-50 tab-mb-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10 col-12">
        <div class="rte">
          {{ page.content }}
 
        </div>
      </div>
    </div>
  </div>
</div>