{% section 'breadcrumb' %}
<div class="sign-up-area margin-bottom-120 mobile-mb-50 tab-mb-100">
  <div class="container">
    <div class="row custom-gutter justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7 col-12">
        <div class="sign-up-inner">
           {% form 'recover_customer_password',class : 'contact-form-box' %}         
              <label>{{ 'customer.recover_password.email' | t }}*</label>
               <input type="email" value="" name="email" id="RecoverEmail" required>
              <p>We will send an email to your email address to reset your password. Please check.</p>
              <div class="reset-password">
                <ul>
                  <li>
                    <div class="btn-wrapper">
                      <button class="boxed-btn btn-rounded" type="submit">{{ 'customer.recover_password.submit' | t }}</button>
                    </div>
                  </li>
                  <li>
                    <div class="btn-wrapper">
                      <a href="/account/login" class="boxed-btn btn-rounded btn-opacity-7">Back</a>
                    </div>
                  </li>
                </ul>
              </div>
           {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>