{% paginate search.results by 12 %}

{% section 'breadcrumb' %}
<div class="bloom-product-area margin-bottom-120 mobile-mb-50 tab-mb-80">
  <div class="container">
    <div class="row custom-gutter">
      <div class="col-md-12">
        <!-- shop-options -->
        <div class="shop-options clearfix">
          <div class="product-search pull-right">
            <form action="{{ routes.search_url }}" method="get" role="search" class="form-input-box">
              <input type="text" id="keyword" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}">
              <input type="hidden" name="type" value="product" aria-hidden="true" />
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
              <button type="submit">{% include 'icon-search' %}</button>
            </form>
          </div>
        </div>
      </div>
      <!-- product-item -->
      
      {% for item in search.results %} 
        {% if item.object_type == 'product'  %}
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
            {% include 'product-card-list', product: item %}
          </div>
        {% endif %}
      {% endfor %}
      <div class="col-md-12">
        <div class="bloom-pagination text-center margin-top-100 mobile-mt-50 tab-mt-80">
          {%- if paginate.pages > 1 -%}
          	{% include 'pagination', paginate: paginate %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
