<div class='social-widget-wrapper' data-widget-id='22037'></div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Store",
  "name": "Honey Gold Botanicals",
  "image": "https://i.postimg.cc/nrfFJwwW/Honey-Gold-Botanicals.png",
  "@id": "",
  "url": "https://honeygoldbotanicals.com/",
  "telephone": "(507) 721-9081",
  "priceRange": "$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "",
    "addressLocality": "",
    "postalCode": "",
    "addressCountry": ""
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
  },
  "sameAs": [
    "https://www.facebook.com/honeygoldbotanicals2020/",
    "https://twitter.com/honeygoldbotan1/",
    "https://www.instagram.com/honeygoldbotanicals/",
    "https://gr.pinterest.com/honeygoldbotanicals/",
    "https://www.linkedin.com/in/matthew-f-1528a9b8?trk=public_profile_samename-profile_profile-result-card_result-card_full-click/"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "Honey Gold Botanicals",
  "url": "https://honeygoldbotanicals.com/",
  "logo": "https://i.postimg.cc/fW3vjDdv/Honey-Gold-Botanicals.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "(507) 721-9081",
    "contactType": "customer service",
    "areaServed": "US",
    "availableLanguage": "en"
  },
  "sameAs": [
    "https://www.facebook.com/honeygoldbotanicals2020/",
    "https://twitter.com/honeygoldbotan1/",
    "https://www.instagram.com/honeygoldbotanicals/",
    "https://gr.pinterest.com/honeygoldbotanicals/",
    "https://www.linkedin.com/in/matthew-f-1528a9b8?trk=public_profile_samename-profile_profile-result-card_result-card_full-click/"
  ]
}
</script>











<!-- banner-section -->
{% section 'home-section-1' %}
<!-- banner-section end -->

<!-- feature-section -->
<section class="feature-section centred">
  <div class="pattern-layer" style="background-image: url('{{ 'shape-1.png' | asset_url }}');"></div>
  <div class="auto-container">
    <div class="sec-title light-p centred wow fadeInUp" data-wow-duration="3s">
      <h2>Best features</h2>
    </div>
    <div class="row justify-content-center clearfix">
      <div class="col-lg-5 col-md-6 col-sm-12">
       	{% section 'best-features-logo' %}
      </div>
      <div class="offset-lg-1 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center feature-block wow fadeInUp" data-wow-duration="3s">
        {% section 'best-features-title' %}
      </div>
    </div>
  </div>
</section>

<!-- feature-section end -->

<!-- chooseus-section -->
{% section 'home-section-3' %}
<!-- chooseus-section end -->


<!-- instargram-section -->
{% section 'home-section-4' %}
<!-- instargram-section end -->


<!-- shop-section -->
{% section 'home-section-5' %}


<!-- news-section -->
{% section 'home-section-6' %}
<!-- news-section end -->


