<footer class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row custom-gutter">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="footer-widget widget">
                            <div class="about_us_widget">
                                <a href="index.html" class="footer-logo"> 
                                 <img src="{{ 'logo-1.png' | asset_url }}" alt="footer logo">
<!--                               		<img src="{{ 'shoba_flowers.jpeg' | asset_url }}"  alt="footer logo">   -->
                              	</a>
                                <p>Flowers always make people better, happier, they are sunshine and medicine for the soul.</p>
                                <address> 
                                  <br>2560 152nd Ave NE, Suite: G, Redmond, WA 98052 
                                  <br><a href="mailto:contact@onego.store">contact@onego.store</a>
                              	  <br><a href="tel:+14258613800">(425) 861-3800</a> 	
                              </address>
                                <div class="social_share">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6">
                        <div class="footer-widget widget widget_text text-center mobile-text-left">
                            <h4 class="widget-title">Working hours</h4>
                            <p>Monday - Sunday: 10AM - 10PM </p>
                        </div>
                    </div>
<!--                     <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                         <div class="footer-widget widget widget_nav_menu desktop-center">
                            <h4 class="widget-title">Support</h4>
                            <ul>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Payment facilities</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Refunds</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                        <div class="footer-widget widget widget_nav_menu desktop-center">
                            <h4 class="widget-title">Menu</h4>
                            <ul>
<!--                                 <li><a href="#">About us</a></li> -->
                                <li><a href="#">Shop</a></li>
<!--                                 <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li> -->
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="footer-widget widget">
                            <div class="newsletter-widget">
                                <h4 class="widget-title">Contact us</h4>
                                <p>Be among the first one to receive and benefit from our inclusive sales every week.</p>
                                <form action="#" class="form-input-box">
                                    <input type="text" placeholder="Enter your email address">
                                    <button type="submit"><img src="{{ 'arrow-right-white-2.svg' | asset_url }}" alt="Arrow Icon"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--         <div class="copyright-area">
            <div class="container">
                <div class="row custom-gutter">
                    <div class="col-lg-12">
                        <div class="copyright-area-inner">
                                &copy; Copyright <span class="current-year"></span> Onego Store. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </footer>


{% schema %}
{
  "name": "footer",
  "settings": [
  ],
  "blocks": [
    ]
}
{% endschema %}
