{% section 'breadcrumb' %}
<div class="ltn__404-area ltn__404-area-1 mb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="error-404-inner text-center">
          <!-- Start Single Accordion -->
          {{ content_for_layout }}  {% comment %} <--- conent_for_layout IS the captcha form in this context {% endcomment %}
                                                       <style>
          /* NOTE: these classes are subject to change at any time... since they are injected by shopify / google captcha */
          .shopify-challenge__container {
          }

          .shopify-challenge__message {
          }

          #g-recapthca {
          }
          </style>
        <script>
          $('shopify-challenge__message').text('Custom message or {{ settings.challenge_message }}')
        </script>
        </div>
      </div>
    </div>
  </div>
</div>
