<!-- Banner -->
{% section 'banner-home'%}
<!-- Banner -->
<!-- Page Conttent -->
<main class="page-content">
  <!-- Start About Area -->
  {% section 'home-about'%}
  <!-- End About Area -->
  <!-- Start Service Area -->
  {% section 'home-service'%}
  <!-- End Service Area -->
  <!-- Start Portfolio Area -->
  {% section 'home-collection'%}
  <!-- End Portfolio Area -->
  <!-- Start Brand Area -->
  {% section 'home-brand'%}
  <!-- End Brand Area -->
  <!-- Start Testimonial Area -->
  {% section 'home-testimonial'%}
  <!-- End Testimonial Area -->
  {% section 'home-product'%}
 
  <!-- Start Testimonial Area -->
  {% section 'home-client'%}
  <!-- End Testimonial Area -->
  <!-- Start Blog Area -->
  {% section 'home-blog'%}

  <!-- End Blog Area -->
  <!-- Start Row Columns Area -->
  {% section 'home-who'%}
  <!-- End Row Columns Area -->
  
</main>
<!--// Page Conttent -->