<!-- Banner -->
{% section 'vega-relax-banner' %}
<!-- Page Conttent -->
<main class="page-content">
  {% section 'vega-relax-product' %}
  {% section 'vega-relax-bg-2' %}
  <!-- Start About Area -->
  {% section 'vega-relax-about' %}
  <!-- End About Area -->
  {% section 'vega-relax-bg-1' %}
  {% section 'vega-relax-service' %}
  {% section 'vega-relax-menu' %}
  
  
  {% section 'vega-relax-icon' %}
</main>