<!-- Banner -->
{% section 'about-banner' %}
<!-- Page Conttent -->
<main class="page-content">
  <!-- Start About Area -->
  {% section 'about-story' %}
  <!-- End About Area -->
  {% section 'about-who' %}
  <!-- Start About Area -->
  {% section 'about-mission' %}
  <!-- End About Area -->
</main>