<!-- Banner -->
{% section 'vega-recover-banner' %}
<!-- Page Conttent -->
<main class="page-content">
  {% section 'vega-recover-product' %}
  {% section 'vega-recover-bg-2' %}
  <!-- Start About Area -->
  {% section 'vega-recover-about' %}
  <!-- End About Area -->
  {% section 'vega-recover-bg-1' %}
  {% section 'vega-recover-service' %}
  {% section 'vega-recover-menu' %}
  
  
  {% section 'vega-recover-icon' %}
</main>