<!-- Banner -->
{% section 'vega-energy-banner' %}
<!-- Page Conttent -->
<main class="page-content">
  
  {% section 'vega-energy-product' %}
  {% section 'vega-energy-bg-2' %}
  <!-- Start About Area -->
  {% section 'vega-energy-about' %}
  <!-- End About Area -->
  {% section 'vega-energy-bg-1' %}
  {% section 'vega-energy-service' %}
  {% section 'vega-energy-menu' %}
  
  {% section 'vega-energy-icon' %}
</main>