<!-- Banner -->
{% section 'vega-sleep-banner' %}
<!-- Page Conttent -->
<main class="page-content">
  
  <!-- End About Area -->
  {% section 'vega-sleep-product' %}
  {% section 'vega-sleep-bg-2' %}
  <!-- Start About Area -->
  {% section 'vega-sleep-about' %}
  {% section 'vega-sleep-bg-1' %}
  {% section 'vega-sleep-service' %}
  {% section 'vega-sleep-menu' %}
  
  
  {% section 'vega-sleep-icon' %}
</main>