@font-face {
    font-family: 'Motion Picture Personal Use';
    src: url('MotionPicturePersonalUse.woff2') format('woff2'),
        url('MotionPicturePersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Motion Picture Personal Use';
    src: url('MotionPicturePersonalUse.woff2') format('woff2'),
        url('MotionPicturePersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

