  <section class="page__title p-relative d-flex align-items-center" data-background="{{ section.settings.image | img_url: '1000x' }}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-inner text-center">
            <h1>{{ section.settings.title }}</h1>
            <div class="page__title-breadcrumb">                                 
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="{{ routes.root_url }}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ section.settings.title }}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% schema %}
  {
    "name": "Login Banner",
    "settings": [
	{
         "type": "image_picker",
         "id": "image",
         "label": "Banner"
     },
	 {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Login"
    }
]
  }
{% endschema %}
