<main class="main-content">
  <!--== Start Page Title Area ==-->
  {% include 'breadcrumb' %}
  <!--== Start Cart Area Wrapper ==-->
    {% section 'my-cart' %}
  <!--== End Cart Area Wrapper ==-->
  <!--== Start Featured Area Wrapper ==-->
  {% section 'featured-area' %}
  <!--== End Featured Area Wrapper ==-->
</main>

