
<main class="main-content">
  <!--== Start Hero Area Wrapper ==-->
  {% section 'category-area' %}
  
  {% section 'our-area' %}
  <!--== Start Video Divider Area Wrapper ==-->
  {% section 'divider-area-home' %}
  <!--== End Video Divider Area Wrapper ==-->
  <!--== Start Video Divider Area Wrapper ==-->
  {% section 'emblematic-home' %}
  <!--== End Video Divider Area Wrapper ==-->
  <!--== Start Products Area Wrapper ==-->
  {% section 'product-home' %}
  
  <div id="insta-feed"></div>
    <!--== End Products Area Wrapper ==-->
  {% section 'affirm-home' %} 
</main>

