<main class="main-content">
  {% include 'breadcrumb' %}
  <!--== End Page Title Area ==-->
  {% section 'list-collections-template' %}
  <!--== Start Featured Area Wrapper ==-->
  {% section 'featured-area' %}
</main>