
<main class="main-content">
    <!--== Start Page Title Area ==-->
     {% include 'breadcrumb' %}
    <!--== End Page Title Area ==-->

    <!--== Start Contact Area ==-->
    <section class="blog-details-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="content">
                         {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Contact Area ==-->
  </main>