<main class="main-content">
  <!--== End Page Title Area ==-->
   {% section 'about-banner' %}
  <!--== Start Video Divider Area Wrapper ==-->
   {% section 'divider-area' %}
  <!--== End Video Divider Area Wrapper ==-->

  <!--== Start Brand Logo Area ==-->
  {% section 'brand-logo' %}
  <!--== End Brand Logo Area ==-->

  <!--== Start Team Area Wrapper ==-->
  {% section 'team-area' %}
  <!--== End Team Area Wrapper ==-->

  <!--== Start Contact Area ==-->
  {% section 'contact-area' %}
  <!--== End Contact Area ==-->
</main>