<main class="main-content">
  <!--== Start Page Title Area ==-->
  {% include 'breadcrumb' %}
  <!--== End Page Title Area ==-->
  <!--== Start Divider Area ==-->
  {% section 'faq-templates' %}
  <!--== End Divider Area ==-->
</main>