<div class="row">
  {%- for block in section.blocks -%}
    <div class="col-lg-4 col-md-4 col-sm-4 col-4 feature-block wow fadeInUp"  data-wow-duration="3s">
      <div class="feature-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box"><img src="{{ block.settings.image | img_url : '200px' }}" alt="{{ block.settings.image.alt }}"></figure>
           <h3 class="wow fadeInUp animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInUp;"></h3>
        </div>
      </div>
    </div>
  {%- endfor  -%}
</div>
{% schema %}
  {
    "name": "Section Best features 1",
    "settings": [
	
		],
"blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
	  "limit" : 12,
      "settings": [
  		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
  }
{% endschema %}
