 <section class="page-title centred" style="background-image: url('{{ section.settings.image | img_url : '1920x' }}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1 class="title-fix">Search</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{ routes.root_url }}">Home</a></li>
                        <li class="see">Search</li>
                    </ul>
                </div>
            </div>
        </section>
{% schema %}
  {
    "name": "Section Search",
    "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Banner"
        }
	]
  }
{% endschema %}

