<!--Page Title-->
        <section class="page-title page-our centred" style="background-image: url('{{ section.settings.image | img_url : '1920x' }}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1 class="title-fix">{{ page.title }}</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{ routes.root_url }}">Home</a></li>
                        <li class="see">{{ page.title }}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
{% schema %}
  {
    "name": "Section Our Mission 1",
    "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Banner"
        }
		]
  }
{% endschema %}

